
/* CSS Variables */
:root {
    --primary: rgba(39, 102, 197, 0.8);
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
    border: 1px solid #cec;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

/* Base layout */
.wrapper {
    display: grid;
}


/* Nav nav bar containers*/
.main-nav {
    height: 10vh;
}

.main-nav ul {
    height: 100%;
    margin: 0;
    display: grid;
    align-self: stretch;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}

/* Style the navbar links */
.main-nav a {
    background: var(--primary);
    display: block;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background-color: var(--dark);
    color: var(--light);
}

/* Top container */
.top-container {
    display: grid;
    grid-template-areas: 'banner header';
    min-height: 300px;
}

.banner {
    grid-area: banner;
    background: url(https://source.unsplash.com/random/1000x1000);
    background-size: cover; 
    background-position: center;
}

.header{
    grid-area: header;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    width: 65%;
    margin: auto;
    min-height: 800px;
}

.content-section-a, .content-section-c {
    display: grid;
    grid-template-areas: 'content-text content-text content-img';
}

.content-section-b {
    display: grid;
    grid-template-areas: 'content-img content-text content-text';
}

div[class|="content-section"] .content-text {
    grid-area: 'content-text';
    grid-column: span 2;
}

div[class|="content-section"] .content-img {
    grid-area: 'content-text';
    background: url(https://source.unsplash.com/random/300x300);
    background-size: cover; 
    background-position: center;
}

.footer {
    text-align: center;
    display: grid;
    min-height: 50px;
}